<div>
  <div>
    <h1>
      Event #<%= @the_event.id %> details
    </h1>

    <div>
      <div>
        <a href="/events">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_event/<%= @the_event.id %>">
          Delete event
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_event.name %>
      </dd>

      <dt>
        Tasks count
      </dt>
      <dd>
        <%= @the_event.tasks_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit event
    </h2>

    <form action="/modify_event/<%= @the_event.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_event.name %>">
      </div>

      <div>
        <label for="tasks_count_box">
          Tasks count
        </label>

        <input type="text" id="tasks_count_box" name="query_tasks_count" value="<%= @the_event.tasks_count %>">
      </div>

      <button>
        Update event
      </button>
    </form>
  </div>
</div>

<hr>
